@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    display: grid;
    /* o 1fr no grid diz quantas colunas queremos*/
    grid-template-columns: 1fr 1fr;
}