*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
}

.sidebar{
    width: 10%;
    height: 100%;
    position: fixed;
    background-color: silver;
}
.sidebar-pos{
    position:absolute;
    text-align: center;
    top: 20%;
}
.menu{
    margin: 26% 26%;
    text-align: center;
    position: relative;
}
.img-sidebar{
    text-align: center;
    padding: 10px;
}
.img-sidebar img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #696969;
  
}
.menu a{
    color: white;
    opacity: 0.4;
    text-decoration: none;
    font-size: 19px;
    display: block;
    margin-bottom: 20px;
}
.menu a.selecionado{
    opacity: 1;
}

/*img{
    height: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #696969;
    width: 100px;
}*/