.sidebar{

}
.sidebar-pos{

}
.img-sidebar{

}
.menu{
    
}
a{
    color: #000;
    text-decoration: none;
}
/*img{
    height: 100px;
    height: 100px;
    border-radius: 50%;
    width: 100px;
}*/
