@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Rhodium Libre", sans-serif;
}
body, ul, li, p{
    list-style: none;
    font-size: 1.2rem;
}

/*Parte Menu  */
.topo{
    background-color: #E42525;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: 80px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 20px;

}
.menu li a{
    padding: 20px;
}
.menu li a.linkCor{
   margin-top: 20px;
}
.titulo-link{
    color: #000000;
    text-decoration: none;
    font-size: 55px;
    margin-top: 10px;
}
.linkCor{
    color: #000000;
    text-decoration: none;
    font-size: 25px;
}

button{
    background: #fff;
    color: #E42525;
    border: none;
    padding: 10px;
    margin-top: -5px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ;
}
button:hover{
    background: #000000;
    color: #E42525;
}
/* Parte Carousel */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -350px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.img-carousel{
    object-fit: cover;
    height: 540px;
}

/* informações */
.informacoes{
    display: block;
    margin-left: 20px;
    margin-top: 600px;
    font-size: 30px;
}
#image-info{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 900px;
    margin-top: -170px;
}